<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div>
        <form method="POST" action="/user/login">
            <label>
                Email
            </label>
            <input type="email" name="email" placeholder="abc@xy.com" />
            <label>
                Password
            </label>
            <input type="password" name="password" placeholder="password" />
            <button type="submit"> Submit</button>
        </form>
        <% if (locals.error) { %>
            <p>
                <%= error %>
            </p>
            <% } %>

    </div>


</body>

</html>